nav {
    background-color: steelblue;
    padding: 10px;
    color: transparent;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
    background-color: transparent;
}
h1 {
    color: steelblue;
    background-color: transparent;
}
main img {

    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}
main {
    max-width: 840px;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 2px solid rgba(100, 196, 183, 0.2);
    padding: 1rem;
    background-color: #93cddb ;
    color: #000000;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 10px;
    border-top: 1px solid rgb(0, 0, 0);
    text-align: center;
}
